<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron">
        <h1><a href="http://jsonviewer.stack.hu/#http://tvcharts.glitch.me/api/history.json">See the Data</a></h1>
        
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>